{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Password Reset Sent</h2>
                                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
    </main>
{% endblock content %}