{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Password Reset Form</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
        <!--================login_part Area =================-->
        <section class="login_part section_padding ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_text text-center">
                            <div class="login_part_text_iner">
                                <h2>Password reset</h2>
                                <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <h3>Password reset</h3>
                                <form class="row contact_form" action="." method="POST" novalidate="novalidate">
                                    {% csrf_token %}
                                    <div class="col-md-12 form-group p_star">
                                        {% bootstrap_form form %}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        {% buttons %}
                                        <button type="submit" value="submit" class="btn_3">
                                            Password reset
                                        </button>
                                        {% endbuttons %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================login_part end =================-->
    </main>
{% endblock content %}